# Ignore backup files
*~
auto-save-list/

#projectile stuff
*.eld

# emacs bookmarks
bookmarks

# irony-folder
irony/

# Session files
session.*

# Ignore downloaded packages. Emacs downloads them from init.el
elpa/
anaconda-mode/

# Ignore custom script folder
lisp/

# Ignore testing folder
testing/

# individual files
recentf
ac-comphist.dat
emacs-config.el